# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/
android/app/google-services.json

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/.last_build_id
ios/Runner/GoogleService-Info.plist

# Firebase config (add your own)
google-services.json
GoogleService-Info.plist

# IDEs
.idea/
*.ipr
*.iws
.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
*.lcov

# Misc
*.log
pubspec.lock
